/* Tyler Warner
17 Nov 2022 */
 
#outerwrapper {	
	background: rgba(243,205,170, 0.4);
	border-radius: 15%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

html {
	background-image: url(../images/jewelry.jpg);
	position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
    font-family: 'pacifico';
    src: url('../fonts/pacifico-regular-webfont.woff') format('woff'),
         url('../fonts/pacifico-regular-webfont.woff2') format('woff2');
    font-size: 4em;
}

h2 {
    font-family: 'quicksand', Geneva, serif;
    src: url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2');
    font-style: italic;
	font-size: 2em;
}

footer {
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
}

main {
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Georgia, 'Times New Roman', serif;
}

img {
	float: left;
	border-radius: 50%;
}

#addrightmargin {
	margin-right: 10%;
}

nav>ul {
	list-style-type: none;
	font-size: 1.5em;
	clear:left;
}

