input {
    transition: all 0.5s ease;
}
input:focus {
    font-size: 1.2rem;
    padding: 5px;
}
textarea:focus {
    font-size: 1.1rem;
    padding: 5px;   
}
#submit:hover {
    font-size: 1.2rem;
    padding: auto 20px; 
}